/* Navigation */
    /* 1. Header */
    /* 2. MAIN SLIDER */
    /* 3. OUR COLLECTION */
    /* 4. QUOTE-GRN */
    /* 5. our_story */
    /* 6. best_sellers */
    /* 7. famous-emeralds */
    /* 8. showrooms*/
    /* 9. About us*/
    /* 10. PACKAGING */
    /* 11. FOOTER*/
/* Navigation end*/

/* 1. Header*/

header .promo_banner{
    background-color: #e6edea;
    height: 40px;
    display: flex;
    align-items: center;
}

.promo_banner-item{
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.promo-flax{
    display: flex;
}


header .promo_banner .promo_banner-left .promo_banner-item{
    justify-content: flex-start;
}

header .promo_banner .promo_banner-center .promo_banner-item{
    justify-content: center;
}

header .promo_banner .promo_banner-right .promo_banner-item{
    justify-content: flex-end;
}

header .promo_banner .promo_banner-item img{
    max-width: 16px;
    width: 16px;
}

header .promo_banner .promo_banner-item span{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 19px;
}

.main_nav{
    display: flex;
}

.main_nav .flex-container{
    flex-direction: column;
    width: 100%;
}

.main_nav .flex-container .user_nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_nav .flex-container .user_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #e6edea;
}

.main_nav .flex-container .user_nav .phone_chat{
    display: flex;
    align-items: center;
}

.main_nav .flex-container .user_nav .phone_chat span{
    letter-spacing: 0.4px;
    margin-left: 10px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #3f3f3f;
}

.main_nav .flex-container .user_nav .phone_chat a{
    display: flex;
    margin-left: 25px;
    width: 118px;
    height: 30px;
    border: 1px solid #ced6d3;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #838f8a;
}

.main_nav .flex-container .user_nav .search_acount_cart{
    display: flex;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_account a{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-left: 7px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #545c59;
    position: relative;
    padding-left: 14px;
    line-height: 0;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_account{
    display: flex;
    align-items: center;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_account a:after{
    content: '';
    width: 0;
    height: 16px;
    position: absolute;
    border: 1px solid #eaf0ed;
    top: 0px;
    left: 0;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_account a img{
    width: 12px;
    max-width: 12px;
    margin-right: 1.5px;
}



.main_nav .flex-container .user_nav .search_acount_cart .nav_account span{
    font-size: 13px;
    margin-left: 7px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #545c59;
    margin-right: 2px;
}


.main_nav .flex-container .user_nav .search_acount_cart .nav_mybag a{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-left: 7px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #545c59;
    position: relative;
    padding-left: 14px;
    line-height: 0;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_mybag{
    display: flex;
    align-items: center;
}


.main_nav .flex-container .user_nav .search_acount_cart .nav_mybag a:after{
    content: '';
    width: 0;
    height: 16px;
    position: absolute;
    border: 1px solid #eaf0ed;
    top: 0px;
    left: 0;
}


.main_nav .flex-container .user_nav .search_acount_cart .nav_mybag a img{
    width: 11px;
    max-width: 11px;
    height: 15px;
    max-height: 15px;
    align-items: center;
    margin-right: 1.5px;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_mybag a span{
    font-size: 13px;
    margin-left: 7px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #545c59;
    margin-right: 2px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Lora", sans-serif;
    font-style: italic;
    color: #838f8a;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: "Lora", sans-serif;
    font-style: italic;
    color: #838f8a;
}

::-ms-input-placeholder { /* Microsoft Edge */
   font-family: "Lora", sans-serif;
   font-style: italic;
   color: #838f8a;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_search{
    display: flex;
    align-items: center;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_search form{
    display: flex;
    align-items: center;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_search input{
    border: none;
    width: 114px;
    font-size: 14px;
}

.main_nav .flex-container .user_nav .search_acount_cart .nav_search button{
    border: none;
    background: none;
}


.main_nav .flex-container .user_nav .search_acount_cart .nav_search button img{
    width: 15.5px;
    max-width: 15.5px;
}


.main_nav .logo_header{
    border-bottom: 1px solid #e6edea;
}

.main_nav .logo_header .logo_header-flex{
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_nav .logo_header .logo_header-flex .logo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.main_nav .logo_header .logo_header-flex .logo-text h1{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 27px;
    color: #7f633e;
    line-height: 1;
}

.main_nav .logo_header .logo_header-flex .logo-text span{
    font-size: 14px;
    font-family: "Lora", sans-serif;
    font-style: italic;
    color: #555c59;
    margin-left: -56px;
}

.header_nav .navigation{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_nav .navigation li{
    height: 100%;
}

.header_nav .navigation li a{
    color: #3d4240;
    color: #3d4240;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 0 14px;
    display: flex;
    align-items: center;
    height: 100%;
}



.header_nav .navigation li a img{
    margin-right: 15px; 
}

.header_nav .navigation li .dropdown-div-btn{
    display: block;
}

.header_nav .navigation li .dropdown-div-content{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 9998;
    left: 0;
    -webkit-box-shadow: 0 0px 14px rgba(0,0,0,.1);
    box-shadow: 0 0px 14px rgba(0,0,0,.1);
    border-top: 1px solid #f3f3f3;
}

.header_nav .navigation .drop-down-btn span:after{
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    border: 2px solid #49a37d;
    right: 0;
    bottom: -11px;
    display: none;
}

.header_nav .navigation .drop-down-btn span{
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.header_nav .navigation .drop-down-btn:hover span:after{
    display: block;
}

.header_nav .navigation .drop-down-btn:hover .dropdown-div-content{
    display: block; 
}

.dropdown-div-content .drop-down-header{
    width: 100%;
    background-color: #f7faf9;
    display: flex;
    align-items: center;
    text-align: center;
    height: 55px;
    justify-content: center;
}

.dropdown-div-content .drop-down-header p{
    margin: 0 245px;
    font-family: "Lato";
    font-weight: 600;
    font-size: 18px;
}

.dropdown-div-content .drop-down-header h3{
    font-family: "Lato";
    font-weight: 600;
    font-size: 17px;
    font-family: "Lato";
    font-weight: 600;
    font-size: 17px;
    margin-left: 8px;
    letter-spacing: 1px;
}

.dropdown-div-content .content-show{
    padding: 30px 0;
}

.dropdown-div-content .content-show{
    display: flex;
}

.dropdown-div-content .content-show .drop-col-header{
    font-family: "Lato";
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

.dropdown-div-content .content-show  li{
    margin-bottom: 5px;
}

.dropdown-div-content .content-show  li a{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #555c59;
    margin: 0;
}

.dropdown-div-content .content-show .shop-by-origin li a{
    font-weight: 400;
}

.dropdown-div-content .content-show .nav-with-img li a img{
    width: 61px;
    min-width: 61px;
    max-width: 61px;
    height: 31px;
}

.dropdown-div-content .content-show .nav-with-img{
    margin-left: -8px;
}

.dropdown-div-content .content-show .drop-col7 .drop-video{
    width: 425px;
    min-width: 425px;
    max-width: 425px;
    height: 200px;
    max-height: 200px;
}

.dropdown-div-content .content-show .drop-col7 .drop-video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-div-content .content-show .drop-col7 .drop-video-descr{
    background-color: #f7faf9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.dropdown-div-content .content-show .drop-col7 .drop-video-descr p{
    font-family: "lora";
    font-style: italic;
    font-size: 22px;
    width: 287px;
    line-height: 27px;
    margin-top: 26px;
    text-align: center;
    color: #555c59;
}

.dropdown-div-content .content-show .drop-col7 .drop-video-descr a{
    font-family: "lora";
    font-style: italic;
    color: #49a37d;
    font-weight: 400;
    margin-top: 10px;
}

.dropdown-div-content .content-show .drop-col7 .drop-video-descr a p{
    width: 17px;
    height: 17px;
    color: #49a37d;
    border: 1px solid #49a37d;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 0;
    margin-left: 10px;

}

.drop-col5{
    width: 15%;
}

.dropdown-div-content .content-show .p-15 ul li a{
    margin-bottom: 15px;
}

.drop-col7{
    margin-right: 30px;
}


/* 1.Header END*/

/* 2. MAIN SLIDER */
    .main_slider{
        background-color: #f7faf9;
    }

    .container-main-slider{
        width: 1449px!important;
        max-width: 1450px!important;
        margin: 0 auto!important;
    }


    .main_slider .main_slider-item{
        display: flex;
        justify-content: space-between;
         padding: 155px 0 120px 0;
    }
    .main_slider .main_slider-item .main_slidr-item-center{
        width: 500px;
        text-align: center;
    }

    .main_slider .main_slider-item .main_slidr-item-center h2{
        font-size: 50px;
        margin-top: -42px;
        font-family: "Lora";
        font-style: italic;
        text-align: center;
        line-height: 51px;
    }

    .main_slider .main_slider-item .main_slidr-item-center p{
        margin-top: 36px;
        font-family: "Lato";
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.5px;
    }

    .main_slider .main_slider-item .main_slidr-item-center h3{
        font-family: "Lora";
        font-style: italic;
        font-weight: 800;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 28px;
    }

    .main_slider .main_slider-item .main_slidr-item-center .slider_btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main_slider .main_slider-item .main_slidr-item-center a{
        border: 1px solid #8f7856;
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #8b7953;
        font-family: "Lato",sans-serif;
        font-weight: 500;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .main_slider .main_slider-item .main_slidr-item-center span{
        margin: 0px 15px;
        font-size: 13px;
    }


    .main_slider .owl-carousel .owl-nav button.owl-prev{
        font-size: 100px;
        font-weight: 100;
        position: absolute;
        top: 47%;
        left: -175px;
        color: #555c59;
    }

    .main_slider .owl-carousel .owl-nav button.owl-next{
        font-size: 100px;
        font-weight: 100;
        position: absolute;
        top: 47%;
        right: -164px;
        color: #555c59;
    }

    .main_slider .owl-dots{
        display: flex;
        justify-content: center;
        bottom: -40px;
        position: absolute;
        width: 100%;
        /* left: 18px; */
    }

    .owl-dots .owl-dot{
        width: 9px;
        height: 9px;
        background-color: #d5e9e0!important;
        border-radius: 50%;
        margin: 0 7px;
    }
    
    .owl-dots .owl-dot.active{
        background-color: #49a37d!important;
    }

    .owl-prev{
        background-image: url("../images/owl-left.png")!important;
        background-size: cover!important;
        width: 20px;
        height: 45px;
      }
      .owl-next{
        background-image: url("../images/owl-right.png")!important;
        background-size: cover!important;
        width: 24px;
        height: 45px;
      }

/* 2. MAIN SLIDER END */


/* 3. OUR COLLECTION */


.our_coll-grid .column-3{
    margin: 6px;
    width: 32.7%!important;
}

.our_coll-grid .column-6{
    margin: 10px;
    width: 49.2%!important;
}

.our_coll-grid .column:nth-of-type(7){
    margin-left: 0;
}

.our_coll-grid .column:nth-of-type(8){
    margin-right: 0;
}

.our_collection{
    padding-top: 103px;
}

.our_collection .section_header{
    display: flex;
    justify-content: center;    
}

.our_collection .section_header h3{
    font-family: "Lora", sans-serif;
    font-style: italic;
    font-size: 42px;
    color: #3d4240;
}

.our_collection .section_header h3 span{
    font-family: "Lora";
    font-style: normal;
}

.our_collection .columns{
    padding-top: 38px;
}

.our_coll-grid .column:nth-of-type(1){
    margin-left: 0;
}

.our_coll-grid .column:nth-of-type(4){
    margin-left: 0;
}

.our_coll-grid .column:nth-of-type(3){
    margin-right: 0;
}
.our_coll-grid .column:nth-of-type(6){
    margin-right: 0;
}

.our_coll-grid .column .init{
    border: 1px solid #e6edea;
    position: relative;
    display: flex;
    height: 300px;
    padding: 30px;
    align-items: center;
    overflow: hidden;
}

.our_coll-grid .column .init .collection_text{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    height: 100%;
}

.our_coll-grid .column .init .collection_img img{
    width: 140px;
    min-width: 140px;
}

.our_coll-grid .column .init .collection_text .collection_title{
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0px;
    width: 190px;
    font-family: "Lora", sans-serif;
    font-weight: 400;
    color: #3d4240;
    min-height: 76px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.our_coll-grid .column-6 .init .collection_text{
    margin-left: 68px;
}

.our_coll-grid .column-6 .init .collection_text .collection_title{
    margin-top: 5px;
    width: 250px;

}

.our_coll-grid .column .init .collection_text .collection_desc{
    text-align: center;
    margin-top: -15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #3d4240;
}

.our_coll-grid .column .init .collection_text .collection_btn a{
    padding-top: 10px;
    border-top: 1px solid #49a37d;
    color: #49a37d;
    margin-top: 3px;
    display: block;
    margin-top: 29px;
}

.our_coll-grid .column .init-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f7faf9;
    margin-top: 6px;
    overflow: hidden;
    position: relative;
    height: 215px;
    margin-bottom: 42px;
}

.our_coll-grid .column .init-row .collection_img img{
    position: absolute;
    top: 16px;
    left: -30px;
}

.our_coll-grid .column .init-row .collection_text{
    text-align: center;
    width: 500px;
    margin-left: 95px;
}

.our_coll-grid .column .init-row .collection_text .collection_title{
    font-size: 35px;
    font-family: "Lora";
    font-style: italic;
    margin-top: 4px;
    color: #3d4240;
}

.our_coll-grid .column .init-row .collection_text .collection_desc{
    font-family: "Lato";
    margin-top: 20px;
    color: #3d4240;
}

.our_coll-grid .column .init-row .collection_btn{
    position: relative;
}

.our_coll-grid .column .init-row .collection_btn a{
    position: absolute;
    border: 1px solid #8d7955;
    color: #8d7955;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    right: 125px;
    top: -17px;
    font-size: 14px;
    letter-spacing: 1.2px;
}


/* 3. OUR COLLECTION END*/

 /* 4. QUOTE-GRN */
    .QUOTE-GRN{
        background-color: #49a37d;
        margin-top: 55px;
    }
    .quote-flex{
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .quote-flex h5{
        font-family: "Lora";
        font-style: italic;
        color: #fff;
        font-size: 25px;
    }

    .quote-flex span{
        color: #fff;
        font-family: "Lora";
        margin-top: 10px;
    }
    
  /* 4. QUOTE-GRN END*/

  /* 5. our_story */

.our_story{
    padding-top: 80px;
}

.our_story .section_header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;    
}

.our_story .section_header h3{
    font-family: "Lora", sans-serif;
    font-style: italic;
    font-size: 42px;
    color: #3d4240;
}

.our_story .section_header h3 span{
    font-family: "Lora";
    font-style: normal;
}

.container-history-slider{
    width: 1668px!important;
    max-width: 1668px!important;
    margin: 0 auto!important
}

.history-bg{
    background: url(../images/history-bg.png) 100% 100% no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.our_story .owl-carousel .owl-nav button.owl-prev{
    font-size: 100px;
    font-weight: 100;
    position: absolute;
    top: 41%;
    left: -62px;
    color: #555c59;
}

.our_story .owl-carousel .owl-nav button.owl-next{
    font-size: 100px;
    font-weight: 100;
    position: absolute;
    top: 41%;
    right: -51px;
    color: #555c59;
}

.our_story .owl-dots{
    display: flex;
    justify-content: center;
    bottom: -100px;
    position: absolute;
    width: 100%;
    /* left: 18px; */
}

.our_story .owl-dot{
    width: 9px;
    height: 9px;
    background-color: #d5e9e0!important;
    border-radius: 50%;
    margin: 0 7px;
}

.our_story .owl-dot.active{
    background-color: #49a37d!important;
}

.history_item{
    display: flex;
    align-items: center;
}

.our_story .history_text{
    background: #fff;
    height: 360px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* justify-content: center; */
    padding-left: 70px;
    justify-content: unsafe;
    padding-top: 70px;
}

.our_story .history_item .img{
    width: 810px;
    height: 420px;
    min-width: 810px;
    min-height: 420px;
}

.our_story .history_item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our_story .history_text span{
    font-family: "Lato";
    font-size: 13px;
}

.our_story .history_text h5{
    font-family: "Lora";
    font-style: italic;
    font-size: 37px;
    margin-bottom: 17px;
    
}

.our_story .history_text p{
    font-family: "Lato";
    width: 56%;
}

  /* 5. our_story END*/

  /* 6. best_sellers */
.best_sellers{
    padding-top: 130px;
}

.best_sellers .section_header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;    
}

.best_sellers .section_header h3{
    font-family: "Lora", sans-serif;
    font-style: italic;
    font-size: 42px;
    color: #3d4240;
}

.best_sellers .section_header h3 span{
    font-family: "Lora";
    font-style: normal;
}

.container-best-sellers-slider{
    width: 1364px!important;
    max-width: 1364px!important;
    margin: 0 auto!important;
}


.best_seller-item .best_seller-photo{
    width: 195px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f7faf9;
    position: relative;
}



.best_seller-item .best_seller-photo .hover-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e6edea;
    display: none;
}

/* .best_seller-item .best_seller-photo:hover .hover-bg{
    display: block;
} */

.best_seller-item .best-sellers-price{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best_seller-item .best-sellers-price .prod_name{
    margin-bottom: 6px;
}

.best_seller-item .best-sellers-price .price span{
    font-weight: 600;
}

.best_seller-item .best-sellers-price .price .old-price{
    position: relative;
}

.best_seller-item .best-sellers-price .price .old-price:before{
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    height: 1px;
    width: 100%;
    background: #000;
    /* left: 50%; */
    z-index: 1;
    /* transform: translateX(-50%); */
    /* -webkit-transform: translateX(-50%); */
  }

  .best_seller-item .best-sellers-price .price .new-price{
      color: #ea3820;
  }

.best-sellers-owl .owl-nav button.owl-prev{
    font-size: 100px;
    font-weight: 100;
    position: absolute;
    top: 30%;
    left: -55px;
    color: #555c59;
}

.best-sellers-owl .owl-nav button.owl-next{
    font-size: 100px;
    font-weight: 100;
    position: absolute;
    top: 30%;
    right: -55px;
    color: #555c59;
}

.best-sellers-owl .owl-nav  .owl-next {
    background-image: url(../images/owl-right.png)!important;
    background-size: cover!important;
    width: 14px;
    height: 25px;
}

.best-sellers-owl .owl-nav .owl-prev {
    background-image: url(../images/owl-left.png)!important;
    background-size: cover!important;
    width: 13px;
    height: 25px
}

.best_seller-item .best_seller-photo img{
    max-width: 100%;
    min-width: 100%;
}

  /* 6. best_sellers END*/

  /* 7. famous-emeralds */

  .famous-emeralds{
    margin: 110px 0 110px 0;
  }

  /* .famous-grid .column:nth-of-type(1){
    margin-left: 0;
    }

 .famous-grid .column:nth-of-type(3){
    margin-right: 0;
 } */

 .famous-item{
     margin: 10px;
 }

 .famous-item .famous-img{
     min-width: 428px;
     width: 428px;
     height: 421px;
 }

 .famous-item .famous-img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .famous-item .famous-dexcription{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
 }

 .famous-item .famous-dexcription h5{
    font-size: 38px;
    width: 250px;
    text-align: center;
    margin-top: 53px;
    line-height: 41px;
    font-family: "Lora";
    font-style: italic;
 }

 .famous-item .famous-dexcription p{
    width: 255px;
    text-align: center;
    margin-top: 15px;
 }

 .famous-item .famous-dexcription a{
    margin-top: 40px;
    font-size: 17px;
    text-transform: uppercase;
    color: #49a37d;
 }

 .famous-header{
     width: 100%;
     text-align: center;
     
 }

 .famous-header .first{
     font-family: "Lora";
     font-style: italic;
     display: block;
     font-size: 41px;
     margin-top: -9px;
     color: #3d4240;
 }

 .famous-header .second{
    font-size: 44px;
    font-family: "Lora";
    margin-top: -10px;
    display: block;
    text-transform: uppercase;
    /* margin-top: 12px; */
    margin-bottom: 40px;
    color: #3d4240;
}

  /* 7. famous-emeralds END*/

  /* 8. showrooms*/
.showrooms{
    height: 460px;
    background-image: url("../images/showrooms-bg.png")!important;
    background-size: cover!important;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 120px 0;
}

.showrooms h3{
    font-family: "Lora";
    font-style: italic;
    color: #fff;
    font-size: 38px;
}

.showrooms h3 span{
    font-family: "Lora";
    font-style: normal;
}

.showrooms p{
    color: #fff;
    font-family: "Lora";
    width: 550px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 25px;
}

.showrooms a{
    width: 235px;
    letter-spacing: 1px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
}

.showrooms a:hover{
    color: #fff;
}
  /* 8. showrooms END*/

  /* 9. About us*/

.about_us-section{
    padding-top: 120px;
}

.about_us-section .section_header{
    display: flex;
    justify-content: center;    
}

.about_us-section .section_header h3{
    font-family: "Lora", sans-serif;
    font-style: italic;
    font-size: 42px;
    color: #3d4240;
}

.about_us-section .section_header h3 span{
    font-family: "Lora";
}

.about_us-section .about_us-grid{
    margin-top: 35px;
}

.about_us-section .about_us-item .about_us-video{
    position: relative;
}

.about_us-section .about_us-item .about_us-video .play_video{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
}

.about_us-section .about_us-item .about_us-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_us-section .about_us-item .about_us-description h5{
    font-family: "Lora";
    font-style: italic;
    color: #3c4240;
    font-size: 38px;
    margin-top: 20px;
}

.about_us-section .about_us-item .about_us-description span{
    width: 60px;
    height: 1px;
    background-color: #40a584;
    margin: 18px 0;
}

.about_us-section .about_us-item .about_us-description p{
    width: 300px;
    text-align: center;
    font-family: "Lora";
    min-height: 48px;
}

.about_us-section .about_us-item .about_us-description a{
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #40a584;
}

  /* 9. About us END*/

/* 10. PACKAGING */

.packaging_section{
    position: relative;
    margin-top: 110px;
    margin-bottom: 110px;
}

.packaging_section .packaging_bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 360px;
    margin: 60px 0;
}

.packaging_section .packaging_bg img{
    width: 100%;
    height: 100%;
}

.pack-video{
    position: relative;
    width: 815px;
    height: 425px;
}

.pack-img{
    margin-left: 60px;
}

.pack-videos{
    display: flex;
    align-items: center;
}

.pack-video{
    margin-left: 40px;
}

.pack-video img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pack-video .play_video{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
}

.pack-video .play_video img{
    height: auto;
    width: auto;
    object-fit: none;
}

/* 10. PACKAGING END*/

/* 11. FOOTER*/
    footer{
        background-color: #f7faf9;
        padding-top: 75px;
    }

    .footer-row{
        display: flex;
    }

    footer .footer_title{
        font-family: "Lato";
        font-size: 17px;
        font-weight: 800;
        color: #3c4240;
    }
  

    footer .footer-col3{
        display: flex;
        flex-direction: column;
        width: 17%;
    }

    footer .footer-list{
        margin-top: 15px;
    }

    footer .footer-list li a{
        color: #3c4240;
        margin-bottom: 3px;
        font-size: 15px;
        display: block;
    }

    footer .footer-col4{
        margin-left: 115px;
    }

    footer .footer-col4 .footer_title{
        margin-bottom: 17px;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        margin-top: 3px;
    }

    footer .footer-col4 p{
        font-family: "Lato";
        font-size: 15px;
        margin-bottom: 15px;
    }

    footer .footer-col4 form{
        position: relative;
    }

    footer .footer-col4 form input{
        width: 390px;
        height: 40px;
        border: 1px solid #cbd0d4;
        background-color: #fff;
        font-family: "Lato", sans-serif;
        padding-left: 15px;
    }

    footer .footer-col4 form button{
        width: 155px;
        height: 40px;
        border: 1px solid #8d7955;
        background-color: #8d7955;
        color: #fff;
        position: absolute;
        top: 0;
        right: -150px;
        font-size: 13px;
        letter-spacing: 1px;
        font-family: "Lato";
        cursor: pointer;
    }

    .newsletter::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: "Lato", sans-serif;
        font-style: normal;
        color: #9ea6ae;
    }
    
   .newsletter:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-family: "Lato", sans-serif;
        font-style: normal;
        color: #9ea6ae;
    }
    
    .newsletter::-ms-input-placeholder { /* Microsoft Edge */
       font-family: "Lato", sans-serif;
       font-style: normal;
       color: #9ea6ae;
    }

    footer .social_links{
        display: flex;
        margin-top: 29px;
    }

    footer .social_links a{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #8d7955;
        color: #fff;
        margin-left: 10px;
    }

    footer .social_links a:first-child{
        margin-left: 2px;
    }

    footer .bottom_footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 65px;
        padding-bottom: 40px;
    }

    footer .bottom_footer .bottom_footer-left{
        display: flex;
        align-items: center;
    }

    footer .bottom_footer .bottom_footer-left img{
        max-width: 98px;
        min-width: 98px;
        width: 98px;
        max-height: 22px;
    }

    footer .bottom_footer .bottom_footer-left ul{
        display: flex;
        margin-left: 25px;
    }
    
    footer .bottom_footer .bottom_footer-left ul li{
        color: #828f8b;
        font-family: "Lato";
        font-size: 14px;
        position: relative;
        padding-right: 15px;
        margin-right: 15px;
    }
    footer .bottom_footer .bottom_footer-left ul li:after{
        content: '';
        width: 0;
        height: 15px;
        position: absolute;
        border: 0.5px solid #b0c2bc;
        top: 5px;
        right: 0;
    }

    footer .bottom_footer .bottom_footer-left ul li:last-child:after{
        height: 0;
    }
    

/* 11. FOOTER END*/